/*
Tailwind CSS
@import "tailwindcss";
*/

/* Variable */
:root {
  --font-family: "JetBrains Mono", auto, monospace, normal;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 800;
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --third-color: #b90000;
  --fourth-color: #808080;
  --bottom-margin: 2rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--primary-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--secondary-color);
}

nav a {
  font-weight: var(--bold-font);
  color: var(--secondary-color);
  transition: var(--transition);
}

nav i {
  color: var(--secondary-color);
  transition: var(--transition);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
}

main h1 {
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: var(--bottom-margin);
  /* background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

p {
  color: var(--secondary-color);
  line-height: var(--line-height);
  font-size: 20px;
  padding: 2rem 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

h5 {
  font-weight: 200;
  text-align: center;
  font-size: 35px;
  color: var(--secondary-color);
  padding: 0;
  line-height: 0.8em !important;
  text-transform: none;
  font-weight: 600;
}

h5 span {
  color: var(--third-color);
  animation-delay: 2s;
  font-weight: 600;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

.nav-section:hover h1 {
  color: var(--third-color);
  transition: var(--transition);
}

.nav-section:hover i {
  color: var(--third-color);
  transition: var(--transition);
}

.nav-section:hover a {
  color: var(--third-color);
  transition: var(--transition);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.about-section {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.about-section img {
  height: 20rem;
}

.about-section h1 {
  margin-bottom: var(--bottom-margin);
  font-size: 50px;
}

.about-section h5 {
  z-index: 0;
  margin-bottom: var(--bottom-margin);
}

.skills-section ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* footer {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.footer-title {
  text-align: center;
  color: ghostwhite;
  width: 50%;
  font-size: 0.9em;
} */

.card {
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  padding: 1.5rem;
  background-color: var(--secondary-color);
  max-height: fit-content;
  max-width: fit-content;
}

.card-title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: var(--bottom-margin);
  color: var(--primary-color);
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  padding: 0.25rem 0.75rem;
  background-color: #f3f4f6;
  color: var(--primary-color);
  font-size: 0.875rem;
  border-radius: 9999px;
}
